<header>	
		<nav>
		<ul>
			<li><img src="{{ asset('images/logo.svg') }}" alt="logo" width="100" height="100"></li>
			<li><strong>Spotify Random Playlist Generator</strong></li>
		</ul>
			<ul>
				<li><a href="{{ path('app_spotify') }}">Home</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
     <hr>
	</header>