.btnRandom {
    height: 100%;
}

.btnRandom:hover {
    color: var(--pico-primary-color);
    border-color: var(--pico-primary-color);
}

.muted {
    color: var(--pico-muted-color);
}

.p4 {
    padding: 2rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}