{% extends 'base.html.twig' %}
{% block title %}New random playlist based on {{name}}
{% endblock %}

{% block body %}

	<h1>New random playlist based on <ins>{{ name }}</ins></h1>

<a href={{ path("app_playlist_create") }}><button id="createNew" class="btn">Save this new playlist</button></a>
	{% include "spotify/_partials/table.html.twig" %}
{% endblock %}
