{% extends 'base.html.twig' %}

{% block title %}Playlist: {{ playlist.name }}{% endblock %}

{% block body %}

<h1>Playlist: <ins>{{ playlist.name }}</ins></h1>

<a href={{ path("app_playlist_generate", {"id": playlist.id, "name": playlist.name}) }}><button id="generate" class="btn">Generate</button></a>

{% include "spotify/_partials/table.html.twig" %}

{% endblock %}